<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link" routerLink="/character" routerLinkActive="active">Star Wars Character</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/newCharacter" routerLinkActive="active">Add Character</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/movies" routerLinkActive="active">Movies</a>
  </li> -->
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/planets" routerLinkActive="active">Planets</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/species" routerLinkActive="active">Species</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/starships" routerLinkActive="active">StarShips</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/interact" routerLinkActive="active">Component Interaction</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/vehicles" routerLinkActive="active">Vehicles</a>
  </li> -->
  <!--li class="nav-item">
    <a class="nav-link" routerLink="/Chartable" routerLinkActive="active">Character Table</a>
  </li-->
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Data Table</a>
    <div class="dropdown-menu">
      <!-- <a class="dropdown-item" routerLink="/datatable/character" routerLinkActive="active">Character</a> -->
      <a class="dropdown-item" routerLink="/datatable/movies" routerLinkActive="active">Movies</a>
      <a class="dropdown-item" routerLink="/datatable/vehicles" routerLinkActive="active">Vehicles</a>

      <!-- <a class="dropdown-item" routerLink="/datatable/starships" routerLinkActive="active">StarShips</a>
      <a class="dropdown-item" routerLink="/datatable/species" routerLinkActive="active">Species</a>
      <a class="dropdown-item" routerLink="/datatable/planets" routerLinkActive="active">Planets</a> -->
    </div>
  </li>
</ul>